@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The current counter value is: @ViewBag.Counter</p>
    <a asp-action="Increment" class="btn btn-primary">Increment</a>
</div>